.App {
  text-align: center;
}

.LandingPagedDiv{
  padding-top: 5vh;
  background-image: url(/src/IMG/scull.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.list-unstyled {
  display: table;
  text-align: center;
  margin: 0 auto;
}

#gameTitle,
#gameBiteCode,
#squadCreation,
#SquadList {
  padding: 60px;
}

#SquadList {
  margin: 0 auto;
}

.gameDescription,
.squadDetails {
  margin-top: 25px;
  margin-bottom: 35px;
}

#gameRegisterBtn{
  width: 80%;
  height: 50px;
}

#gameSquadDetails {
  margin-top: 60px;
}

#squadCreationInput
{
  width: 400px;
}

#card,
#biteCodeInput,
#gameSquadDetails{
  width: 400px;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

#LandingPageTitle {
  margin: 25px;
  color: white;
  text-align: center;
}
#WelcomLandingPage{
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#chooseGame {
  background-color: rgb(6, 6, 107);
}

#button {
  background-color: rgb(15, 84, 246);
  color: aliceblue;
}

#container {
  margin-bottom: 10%;
}

#row {
  margin: 50px;
  align-items: center;
  
}

#registerBtn {
  margin-left: 100px;
}

 #adminNav {
  margin: 10px;
  color: lightgray;
  text-decoration-line: none;

}
#adminNav:hover{
  border-top: 10px;
  border-bottom: 10px;
  border-radius: 5px;
  color: rgb(52, 53, 59);
}

.form-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.form-inline {
  margin-top: 40px;
  align-items: center;
}

.form-control {
  margin-bottom: 8px;
}

.h3 {
  margin: 15px;
  text-align: left;
}

#createGameBtn {
  width: 200px;
}

.creatBtn {
  margin: 10px;
  margin-left: 4px;
}

.chooseEditGame {
  float: right;
}

li {
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#editPlayer,
#editMission {
  margin-top: 20px;
}

#missionContainer {
  margin-top: 30px;
}

.adminDropdown {
  padding: 10px;
}

.adminCheckbox {
  width: 15px;
  margin-right: 8px;
}

.registerUser {
  width: 160px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 40px;
}
#user{
  font-weight: bold;
  color: white;
}

.headerRegisterUser {
  margin-top: 25px;
  color: white;
}
#addUser{
  border-radius: 5px;
  border: none;
}
#token{
  color: white;
}
#tokencode{
  color: white;
}

#hvzLogo{
  color: lightgray;
}

.navbar{
  background-color: #181818;
  z-index: 10;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
