.App {
  text-align: center;
  
}

.list-unstyled {
  display: table;
  margin: 0 auto;
}

#gameTitle,
#gameBiteCode,
#squadCreation,
#SquadList {
  padding: 60px;
}

.gameDescription,
.squadDetails {
  margin-top: 25px;
  margin-bottom: 35px;
}

#gameRegisterBtn {
  width: 300px;
}

#gameSquadDetails {
  width: 400px;
  margin: 0 auto;
}

#biteCodeInput,
#squadCreationInput
{
  width: 400px;
  margin: 0 auto;  
}

#card{
  margin: 15px;
  width: 400px;
  float: left;
}

#LandingPageTitle {
  margin: 25px;
  color: white;
  text-align: center;
}
#WelcomLandingPage{
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#chooseGame {
  background-color: rgb(6, 6, 107);
}

#button {
  background-color: rgb(15, 84, 246);
  color: aliceblue;
}

#container {
  align-items: center;
  justify-content: center;
}

#row {
  margin: 50px;
  align-items: center;
  
}


#registerBtn {
  margin-left: 100px;
}

 #adminNav {
  margin: 10px;
  color: black;
  text-decoration-line: none;

}
#adminNav:hover{
  border-top: 10px;
  border-bottom: 10px;
  border-radius: 5px;
  background: rgb(196, 197, 196);
  color: rgb(240, 243, 240);
}

.form-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.form-inline {
  margin-top: 40px;
  align-items: center;
}

.form-control {
  margin-bottom: 8px;
}

.h3 {
  margin: 15px;
  text-align: left;
}

#createGameBtn {
  width: 200px;
}

.creatBtn {
  margin: 10px;
  margin-left: 4px;
}

.chooseEditGame {
  float: right;
}

li {
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#editPlayer,
#editMission {
  margin-top: 20px;
}

#missionContainer {
  margin-top: 30px;
}

.adminDropdown {
  padding: 10px;
}

.adminCheckbox {
  width: 15px;
  margin-right: 8px;
}

.registerUser {
  width: 160px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 40px;
}
#user{
  font-weight: bold;
  color: white;
}

.headerRegisterUser {
  margin-top: 25px;
  color: white;
}
#addUser{
  border-radius: 5px;
  border: none;
}
#token{
  color: white;
}
#tokencode{
  color: white;
}

/* #loginBtn {

  border-radius: 35px;
  border-color: #ffbbbc;
  border: none;
  background: rgb(216, 219, 219);
  color: gray;
} */