.App {
  text-align: center;
}

.list-unstyled{
  display: table;
  margin: 0 auto;
}

#gameTitle, #gameBiteCode{
  padding: 60px;
}
.gameDescription{
  margin-top: 25px;
  margin-bottom: 35px;
}

#gameRegisterBtn{
  width: 300px;
}


#BiteCodeInput{
  width: 400px;
  margin: 0 auto;
}

#LandingPageTitle{
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#chooseGame{
  background-color: rgb(6, 6, 107);

}

#container{
  align-items: center;
}

#row{
  margin: 15px;
}

#registerBtn{
margin-left: 100px;
}





